@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './markdown.css';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    font-family: 'Inter', sans-serif;
    @apply text-base leading-7;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

pre {
    & > code {
        @apply grid;
        counter-reset: line;

        & > .line::before {
            counter-increment: line;
            content: counter(line);

            /* Other styling */
            display: inline-block;
            width: 1rem;
            margin-right: 1.5rem;
            text-align: right;
            color: gray;
        }

        &[data-line-numbers-max-digits='2'] > .line::before {
            width: 1.5rem;
        }

        &[data-line-numbers-max-digits='3'] > .line::before {
            width: 2.5rem;
        }
    }
}

.blinking-cursor {
    &::after {
        @apply inline-block w-2 h-3.5 bg-current content-[''];
        animation: blink 1.5s steps(1) infinite;
    }
}

/* https://css-tricks.com/stripes-css/ */
.bg-striped {
    background: repeating-linear-gradient(
        -55deg,
        #ecbe2f,
        #ecbe2f 20px,
        #eab308 20px,
        #eab308 40px
    );
}

@media (prefers-color-scheme: dark) {
    .bg-striped {
        background: repeating-linear-gradient(
            -55deg,
            #ecbe2f,
            #ecbe2f 20px,
            #eab308 20px,
            #eab308 40px
        );
    }
}
